# Target build directory
target/

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE configuration files
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# Logs
*.log

# Vercel & Node
.vercel/
node_modules/

# Pages temporary files
*.pages
